<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Кино Бронирование</title>
</head>
<body>
    <h1>Выберите сеанс в {{ theater }}, {{ city }}</h1>
    <form action="/seats" method="post">
        <input type="hidden" name="city" value="{{ city }}">
        <input type="hidden" name="theater" value="{{ theater }}">
        <select name="date">
            {% for session in sessions %}
                <option value="{{ session[0] }}">{{ session[0] }}</option>
            {% endfor %}
        </select>
        <select name="time">
            {% for session in sessions %}
                <option value="{{ session[1] }}">{{ session[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Далее</button>
    </form>
</body>
</html>
