<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Кино Бронирование</title>
</head>
<body>
    <h1>Выберите кинотеатр в {{ city }}</h1>
    <form action="/sessions" method="post">
        <input type="hidden" name="city" value="{{ city }}">
        <select name="theater">
            {% for theater in theaters %}
                <option value="{{ theater[0] }}">{{ theater[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Далее</button>
    </form>
</body>
</html>
